{% extends 'backend/layout.html.twig' %}

    {% block title %}Tableau de bord - Edition du commentaire {{ comment.id }}{% endblock %}


    {% block content %}
        <div class="col-md-12 col-lg-8">
            <div class="card mb-4">
                <div class="card-block">
                    <h3 class="card-title">Commentaire #{{ comment.id }}</h3>
                    <h4>Publié par {{ comment.authorName }} (){{ comment.authorEmail }}, le {{ comment.creationDate }}</h4>
                    <div class="backend_comment-detail">
                        {{ comment.content }}
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
